.continent-menu {
  top: -330px;
  ul {
    flex-wrap: wrap;
    li a {
      margin-bottom: 10px;
    }
    img {
      height: 40px !important
    }
    .continent-name {
      margin-top: 0 !important;
      font-weight: 500 !important;
    }

  }
}
.categories-list .container.list-container {
  padding-top: 330px;
}
.p-navigation {
  display: none;
}
